
@font-face {
    font-family: 'Univers';
    src: url('Univers-LightCondensed.woff2') format('woff2'),
    url('Univers-LightCondensed.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-BoldCondensed.woff2') format('woff2'),
    url('Univers-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-Light.woff2') format('woff2'),
    url('Univers-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-Regular.woff2') format('woff2'),
    url('Univers-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-Bold.woff2') format('woff2'),
    url('Univers-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}



